:root{
	--color-text-generic: white;
	--color-text-important: red;
}

*{
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background-color: #FF0000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='397' height='397' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23061DFF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23061DFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
	/*Para evitar refresco cuando se desliza al final*/
	overscroll-behavior: contain;
}

#wrapper{
	width: 100vw;
	height: 100vh;
	/*border: solid 2px red;*/
	display: flex;
	flex-direction: column;
	
}

#container{
	margin: 1em;
	/*border:solid 1px black;*/
	height: calc(75vh - 7em);
}

#controls{
	margin: 0 1em 5em 1em;
	/*border:solid 1px black;*/
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-template-rows: auto auto;
	gap: 1em;
	height: 25vh;
}

#panel{
	height: inherit;
	/*border:solid 1px green;*/
	/*border-radius: 10px 10px 0 0;*/
	border-radius: 10px;
	overflow: hidden;
	border: solid 2px #440044;
	/* background-color: gray; */
    background-color: rgba(3, 41, 90, 0.644);
}


#menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: absolute;
}

#menu > a {
	display: block;
	text-decoration: none;
}

.fas.fa-chevron-left {
	color: white;
	background-color: rgba(61,61,61);
	padding: 0.4em;
	border-radius: 10px 0 10px 0;
	box-shadow: 2px 2px 4px 0px black;
	/*height: 35px;
	width: 35px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*font-size: 24px;*/
	/* font-weight: bold; */
}

.fas.fa-chevron-left:hover {
	background-color: rgba(0,0,0,0.8);
}

#panel-title{
	/*background-color: red;*/
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#title-ubicacion{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	/*height: 2em;*/
	/*display: flex;*/
	/*align-items: center;*/
}

#title-sub{
	height: 1em;
}

#panel-container{
	height: 50%;
}

#panel-container-fuego{
	display: grid;
	grid-template-columns: 50% 50%;
	height: calc(50% - 4em);
	color: white;
}

#panel-container-temperatura{
	display: grid;
	grid-template-columns: 50% 50%;
	/*height: calc(50% - 5em);*/
	color: white;
}

#panel-container-viento{
	display: grid;
	grid-template-columns: 50% 50%;
	color: white;
}

#panel-container-presion{
	color: white;
}

#panel-container-humedad{
	color: white;
}

#panel-canvas{

	/*border:solid;*/
	height: 50%;
	display: flex;
	justify-content: center;
}

.panel-col{
	/*border: solid 1px red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col-items{
	width: 100%;
}

.panel-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.btn-control {
	border-radius: 10px 10px 0 0;
	border: solid 0px #131313;
	overflow: hidden;
	background-color: rgb(61, 61, 61);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background-color 0.5s;
	outline: none;
	box-shadow: 4px 4px 4px 0px black;
}

.btn-control:hover, .btn-control:active, .btn-control:focus {
	background-color: rgba( 0, 0, 0, 1);
	border: solid 0px gray;
	box-shadow: 4px 4px 4px -3px black;
}


.btn-control-title{
	/*background-color: red;*/
	color: white;
	text-align: center;
	height: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-control-container{
	display: grid;
	grid-template-columns: 50px auto;
	color: white;
	/*flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;*/
}

.control-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	/*border: solid;*/
}


.control-date{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	/*border:solid;*/
}


.col-important{
	display: flex;
	justify-content: center;
}

.important-val-int{
	font-size: 80px;
	/*border: solid 1px blue;*/
}

.important-val-unit {
	font-size: 36px;
	/* border: solid; */
	/* height: 50%; */
}

.important-val-dec {
	/* border: solid; */
	font-size: 37px;
	/* height: 50%; */
}

#col-sub {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 12px;
}

.item-title{
	font-size: 12px;
	text-align: center;
}

.item-value{
	text-align: center;
}

.color-fuego{
	color: #ec512b;
}

.color-temperatura{
	color: #ffbf69;
}

.color-humedad{
	color: #00bbf9;
}

.color-viento{
	color: #e0fbfc;
}

.color-ubicacion{
	color: red;
}

.color-presion{
	color: #6ee55d;
}

.color-rojo{
	color: red;
}
.color-verde{
	color: green;
}

.visible{
	display: none !important;
}

#medidor{
	/*width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: red;*/
}

@media (min-width: 768px){

	#wrapper{
		flex-direction: row;
	}

	#container{
		order: 1;
		height: calc(100vh - 2em);
		width: 50%;
		margin: 1em 0 1em 1em;
	}

	#controls{
		order: 2;
		height: calc(100vh - 12em);
		width: 50%;
		margin: 1em;
	}

}

@media (min-width: 576px){

	#wrapper{
		flex-direction: row;
	}

	#container{
		order: 1;
		height: calc(100vh - 2em);
		width: 50%;
		margin: 1em 0 1em 1em;
	}

	#controls{
		order: 2;
		height: calc(100vh - 2.3em);
		width: 50%;
		margin: 1em;
	}

	.align-center{
		text-align: center;
	}

	.visible{
		display: inline-block !important;
	}


}

@media (min-width: 320px) and (max-width: 767px){

	#title-ubicacion {
		font-size: 20px;
	}

	.important-val-int {
		font-size: 60px;
		/* border: solid 1px blue; */
	}

	.important-val-unit,  .important-val-dec {
		font-size: 27px;
		/* border: solid 1px blue; */
	}

	.btn-control-container {
		display: grid;
		grid-template-columns: auto;
		color: white;
	}

	.control-title {
		font-size: 24px;
	}

	.control-date{
		font-size: 20px;
	}

}
